:root {
  --primary: #3B2A9F;
  --primary-100: #5141AA;
  --bg-gradiant: #3B2A9F;
  --secondary: #FA8305;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url("/src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-bold;
  src: url("/src/assets/fonts/Poppins-Bold.ttf");
}

.my-col{
  border: solid black;
}
body{
  background-color: var(--primary)!important;
  font-family: Poppins;
  color: white;
  text-align: center;
}

.home-title{
  font-family: Poppins-bold;
  font-size: 36px;
  width: 816px;
  margin: 36px auto;
}

.home-options, .login-form{
  margin: 36px auto;
  width: 195px;
  height: 358px;
  font-size: 20px;
}

.home-op-start{
  text-decoration: none;
  display: block;
  color: white;
  margin-top: 131px;
  background-color: var(--secondary);
  padding: 6px 66.5px;
  border-radius: 30px;
}

.home-op-scores{
  text-decoration: none;
  color: white;
  margin-top: 131px;
}

footer{
  font-family: Poppins-bold;
  font-size: 20px;
  margin-top: 36px;
  color: var(--secondary);
}

.login-form p{
  margin-top: 108px;
}

.login-form form input, .btn{
  font-family: Poppins;
  background-color: var(--primary);
  width: 195px;
  height: 30px;
  border-radius: 10px;
  margin-top: 18px;
  color: white;
}

.btn{
  background-color: var(--secondary);
  border: none;
}